<h1>Hello There! Welcome to my Hw2 introduction!</h1>
<p>Woohoo</p>
<p>Good thing this isn't the web design decal.</p>

<p> My name is MJ and I am from Singapore! <p>
  <p> I'm currently a Freshman studying Computer Science <p>
    <%=image_tag("me.jpg", alt: "Example Image")%>
    <h2> This is me! <h2>

<h1> Also I'm a triplet <h1>
<%=image_tag("SAFTI.jpg", alt: "Example Image")%>
<h2> can you tell which one I am? <hw>
